.carousel {
  width: 90%;
  margin: auto;
}

.carousel img {
  margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(0, 0, 0);
}

#back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 25px;
  height: 25px;
  display: none;
}

#back-to-top:hover {
  background-color: rgb(0, 83, 151);
  border-radius: 12px;
  transition: 3s;
}

h4 {
  color: rgb(1, 71, 129);
  font-family: Impact;
  letter-spacing: 1.5px;
}

.one-time img {
  width: 100vw;
  height: calc(100vh - 56px);
  max-width: 2560px;
  margin: auto;
  object-fit: cover;
}

.images:hover {
  box-shadow: 0px 0px 40px 40px rgba(84, 85, 91, 0.25);
  transition: .3s;
}